/* Text-outside sections */

@media screen and (min-width: 1440px) {
    .usps .text-outside section {
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .usps .text-outside section:nth-of-type(1) {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 1440px) {
    .usps .text-outside section > * {
        width: 50%;
    }
}

/* Text-inside sections */

@media screen and (min-width: 1440px) {
    .usps .text-inside {
        display: flex;
    }
}

.usps .text-inside section {
    position: relative;
}

@media screen and (min-width: 1440px) {
    .usps .text-inside section {
        width: 50%;
    }
}

/* Images */

.usps img {
    width: 100%;
    display: block;
}