/* ----------------------------------------------------------------------
1. Article component in usps section
   1.2 In text-outside subsection
   1.3 In text-inside subsection
2. Article component in usps section paragraph
3. Article component in usps section footer
4. Article component in testimonials section
   4.1 Article component in testimonials section avatar
   4.2 Article component in testimonials section footer
5. Animations
    5.1 Slide-in
    5.2 Appear
---------------------------------------------------------------------- */

/* 1. Article component in usps section */

.usp {
    width: 87.2%;
    margin: 0 auto;
}

@media screen and (min-width: 1440px) {
    .usp {
        width: 100%;
    }
}

/* 1.2. In text-outside subsection */

.text-outside .usp {
    padding: 64px 0;
}

@media screen and (min-width: 1440px) {
    .text-outside .usp {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-outside section:nth-of-type(1) .usp {
        padding: 0 106.4px 0 165px;
    }

    .text-outside section:nth-of-type(2) .usp {
        padding: 0 165px 0 106.4px;
    }
}

/* 1.3 In text-inside subsection */

.text-inside .usp {
    position: absolute;
    bottom: 59px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 720px) {
    .text-inside .usp {
        width: 47.08%;
    }
}

/* 2. Article component in usps section paragraph */

.usp .paragraph-usp-l {
    margin-top: 24px;
    margin-bottom: 32px;
}

@media screen and (min-width: 720px) {
    .usp .paragraph-usp-l {
        margin-top: 32px;
        margin-bottom: 40px;
    }
}

.paragraph-usp-s {
    margin-top: 27px;
}

/* 3. Article component in usps section footer */

.usp footer {
    text-align: center;
}

@media screen and (min-width: 720px) {
    .usp footer {
        text-align: left;
    }
}

/* 4. Article component in testimonials section */

.testimonial {
    width: 87.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

@media screen and (min-width: 720px) {
    .testimonial {
        width: 48.61%;
    }
}

@media screen and (min-width: 1440px) {
    .testimonial {
        width: 24.31%;
        gap: 58px;
    }
}

/* 4.1 Article component in testimonials section avatar */

.testimonial img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

/* 4.2 Article component in testimonials section footer */

.testimonial footer {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

@media screen and (min-width: 1440px) {
    .testimonial footer {
        margin-top: 11px;
    }
}

/* 5. Animations */

/* 5.1 Slide-in */

.usp p.odd {
    transform: translateX(-150%);
    animation: slide-in-from-left ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: calc(100vh - 50px);
}

.usp p.even {
    transform: translateX(150%);
    animation: slide-in-from-right ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: calc(100vh -50px);
}

@keyframes slide-in-from-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        scale: 1;
    }

    25% {
        scale: 1.5;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }
}

@keyframes slide-in-from-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
        scale: 1;
    }

    25% {
        scale: 1.5;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }
}

/* 5.1 Appear */

.testimonial {
    animation: appear ease;
    animation-timeline: view();
    animation-range-start: 25px;
    animation-range-end: 75vh;
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@media screen and (min-width: 720px) {
    @keyframes appear {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
}
