/* ----------------------------------------------------------------------
1. Logo in page header
2. 2. Logo in page footer
---------------------------------------------------------------------- */

/* 1. Logo in page header */

.page-header .logo {
    width: 123.636px;
    height: auto;
}

@media screen and (min-width: 1440px) {
    .page-header .logo {
        width: 170px;
    }
}

/* 2. Logo in page footer */

.page-footer .logo {
    width: 170px;
    height: auto;
}

.page-footer .logo path {
    fill: var(--moderate-cyan);
}