.page-header {
        width: 87.73%;
        height: 82px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
}



@media screen and (min-width: 1440px) {
    .page-header {
        padding: 34px 44px 0 44px;
        
    }
}
