/* Navbar */

.navbar li {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

/* Page header navbar */

.page-header nav {
    display: none;
}

.page-header nav.active {
    width: 100%;
    padding: 39px 0;
    display: unset;
    position: absolute;
    top: 106px;
    right: 0;
    background-color: var(--almost-white);
}

@media screen and (min-width: 1440px) {
    .page-header nav {
        width: 34.54%;
        padding: unset;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        display: flex;
        align-items: center;
        background-color: unset;
    }
}

.page-header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (min-width: 1440px) {
    .page-header nav ul {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        background-color: none;
    }
}

.page-header nav::before {
    content: "";
    border-top: 12px solid transparent;
    border-right: 12px solid var(--almost-white);
    border-bottom: 12px solid var(--almost-white);
    border-left: 12px solid transparent;
    position: absolute;
    top: -24px;
    right: 0;
}

@media screen and (min-width: 1440px) {
    .page-header nav::before {
        display: none;
    }
}

/* Page footer navbar */

.page-footer nav {
    width: 79.2%;
    max-width: 300px;
    margin: 40px auto 0 auto;
}

.page-footer nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}