/* ----------------------------------------------------------------------
1. Navbar items
2. Navbar in page header
3. Navbar in page footer
---------------------------------------------------------------------- */

/* 1. Navbar items */

.navbar li {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

/* 2. Navbar in page header */

.page-header nav {
    display: none;
}

.page-header nav.active {
    display: block;
    width: 100%;
    padding: 39px 0;
    position: absolute;
    top: 106px;
    right: 0;
    background-color: var(--almost-white);
}

.page-header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.page-header nav::before {
    content: "";
    border: 12px solid transparent;
    border-bottom-color: var(--almost-white);
    border-right-color: var(--almost-white);
    position: absolute;
    top: -24px;
    right: 0;
}

@media screen and (min-width: 1440px) {
    .page-header nav {
        display: flex;
        padding: 0;
        position: relative;
        top: auto;
        right: auto;
        background-color: transparent;
        align-items: center;
    }
    
    .page-header nav ul {
        flex-direction: row;
        justify-content: space-between;
        gap: 47px;
        background-color: transparent;
    }
    
    .page-header nav::before {
        display: none;
    }
}

/* 3. Navbar in page footer */

.page-footer nav {
    width: 79.2%;
    max-width: 300px;
    margin: 40px auto 0;
}

.page-footer nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}