/* ----------------------------------------------------------------------
   Hamburger Icon Component Styles
---------------------------------------------------------------------- */

.icon-hamburger {
    cursor: pointer;
}

@media screen and (min-width: 1440px) {
    .icon-hamburger {
        display: none;
    }
}

.icon-hamburger.fade {
    opacity: 0.5;
}