/* ----------------------------------------------------------------------
1. Hero section
2. Hero section heading
3. Hero section image
---------------------------------------------------------------------- */

/* 1. Hero section */

.hero {
    width: 100%;
    aspect-ratio: 375 / 538;
    background: url("../../assets/mobile/image-header.jpg") no-repeat center/contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 720px) {
    .hero {
        aspect-ratio: 1440 / 800;
        background-image: url("../../assets/desktop/image-header.jpg");
    }
}

/* 2. Hero section heading */

.hero header {
    margin-top: 144px;
}

@media screen and (min-width: 1440px) {
    .hero header {
        margin-top: 195px;
    }
}

/* 3. Hero section image */

.hero img {
    margin-top: 52px;
}

@media screen and (min-width: 1440px) {
    .hero img {
        margin-top: 96.54px;
    }
}